{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}



<div class="login-page">
  <img src="{% static 'images/login-front.png' %}" alt="">
  <div class="login-form" style="background-color:rgb(0,20,121);border-radius: 20px;width: 500px">
    <div class="avatar">
      <img src="{% static 'images/login-avatar.PNG' %}" alt="">
    </div>
    {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <h1 style="color:whitesmoke">Login</h1>
    <form action="{% url 'classroom:login' %}" method="post">
      {% csrf_token %}
      <p style="color: whitesmoke;">Username:</p>
      <input type="text" name="username" style="color: #ececec;" placeholder="Enter your username" style = "color:#ececec">
      <br>
      <br>
      <p style="color: whitesmoke">Password:</p>
      <input type="password" name="password"style="color:black;" placeholder="Enter password">
      <br>
      <br>
      <input class="btn btn-primary" type="submit" name="" value="Login" style="color: #142d4c; background-color: #9fd3c7;">
    </form>
    <a class="abc" href="{% url 'classroom:signup' %}" style="font-size: 19px;"><center>Don't have an account.</center></a>
  </div>
</div>


{% endblock %}
